<p></p>
<div class="row">
  <div class="small-12 columns"><h3>30 листопада 2014</h3></div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Штаб національного спротиву (ШНС) — координаційний центр Євромайдану — був створений членами опозиції в Києві 1 грудня 2013 року. Про формування штабу оголосили 30 листопада лідери трьох опозиційних партій: Віталій Кличко, Олег Тягнибок і Арсеній Яценюк. Розташований Штаб у Будинку профспілок. Приводом для створення штабу стали події ночі 30 листопада, які були кваліфіковані як «кривавий розгін мирної демонстрації». Головними вимогами штабу стала відставка Кабміну, а також проведення позачергових виборів президента й уряду. Для реалізації цих цілей проголошений був призив до загальнонаціонального страйку.</div>
</div>

