<p></p>
<div class="row">
  <div class="small-12 columns"><h3>11 грудня 2014</h3></div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">О 1:02 «Беркут» почав ламати барикади на вулиці Інститутській, вступивши у бійку з народними депутатами від «Свободи» Русланом Кошулинським, Олексієм Кайдою, Андрієм Міщенком та Олегом Осуховським. Двоє з них отримали травми. Почалася «зачистка» барикади на вулиці Інститутській, а «тітушки» почали грабувати наметове містечко. Попри те, що влада сконцентрувала навколо Майдану велику кількість силовиків, використання сльозогінного газу, арешти та побиття, у тому числі й серед народних депутатів міліції не вдалося витіснити протестуючих.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="560" height="315" src="//www.youtube.com/embed/XPuf2UQqJ-8" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Дзвони Михайлівського Золотоверхого собору сповіщали всю ніч про тривогу, як це було в середньовіччі, а тому дозволило мітингуючим отримати підкріплення. На ранок на Майдані на на вулиці Хрещатик ще тривали сутичкі з міліцією, зокрема біля будівля КМДА.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="560" height="315" src="//www.youtube.com/embed/2X5jXP8iHBw" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Цей штурм призвів до наступних наслідків:</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">
	<ol>
	  <li>Система оповіщення тривоги Штабу національного спротиву дозволила підтягнутися численним активістам на автівках та попутним транспортом (таксисти підвозили безкоштовно) та стримати штурм силовиків.</li>
	  <li>Розтрощені силовиками намети мітингувальників були за кілька годин відновлені.</li>
	  <li>Знищені легкі барикади були замінені мітингувальниками на складні та міцні. Встановлено: кілька рубежів барикад; барикади зроблені кількарівневими; легкі та складні протипіхотні огорожі («їжаки» з колючим дротом); розміщено бочки; сніг та кригу зібрано в мішки і складено на висоту 2-3 метрів; застосовано арматуру, доски, металеві забори та сітку-рабицю.</li>
	  <li>Збільшено кількість барикад по периметру Євромайдану там, де їх раніше не було (вул. Прорізна, вул. Городецького, спуск сходами від Жовтневого палацу).</li>
	  <li>Удосконалено організацію самооборони і посилено загони на входах до Євромайдану.</li>
	</ol>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">Штурм Майдану відбувався під час перебування Високого представника ЄС із закордонних справ і політики безпеки Кетрін Ештон у Києві.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-3 columns">&nbsp;</div>
  <div class="small-10 large-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p>Catherine <a href="https://twitter.com/search?q=%23Ashton&amp;src=hash">#Ashton</a>: &quot;I am still in <a href="https://twitter.com/search?q=%23Kiev&amp;src=hash">#Kiev</a>. I was impressed by your determination demonstrating for the European perspective of <a href="https://twitter.com/search?q=%23Ukraine&amp;src=hash">#Ukraine</a>&quot;</p>&mdash; EU External Action (@eu_eeas) <a href="https://twitter.com/eu_eeas/statuses/410642433392005120">11 Décembre 2013</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<p></p>