<p></p>
<div class="row">
  <div class="small-12 columns"><h3>08 грудня 2013</h3></div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">На Майдані Незалежності в Києві зібралися учасники Народного віче, яке розпочалося о 12:00. Протестувальники вимагали відставки уряду за кривавий розін мітингу 30 листопада та притягнення винних у цьому до відповідальності.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-3 columns">&nbsp;</div>
  <div class="small-10 large-6 columns">
  	<img width="420" src="https://googledrive.com/host/0ByAZKc44wRT7Nk9WUjc2MWl6aHc/2.jpg" title="Фото: УП" />
  </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Близько 18:00 у Києві на бульварі Тараса Шевченка знесли пам'ятник Володимиру Леніну.</div>
</div>
<p></p>
<div class="row video-background">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="420" height="315" src="//www.youtube.com/embed/zyEUz7Mtz8I" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Ця подія стала знаковою та започаткувала так званий «ленінопад» який прокотився країною впродовж наступних тижнів.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-3 columns">&nbsp;</div>
  <div class="small-10 large-6 columns">
  	<img width="420" src="https://googledrive.com/host/0ByAZKc44wRT7Nk9WUjc2MWl6aHc/1.jpg" />
  </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Після мітингу цього дня периметр Євромайдану істотно збільшився.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-3 columns">&nbsp;</div>
  <div class="small-10 large-6 columns">
  	<img width="420" src="https://googledrive.com/host/0ByAZKc44wRT7Nk9WUjc2MWl6aHc/3.jpg"/>
  </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<p></p>