<p></p>
<div class="row">
  <div class="small-12 columns"><h3>14 грудня 2014</h3></div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">В умовах жорсткого протистояння, 13 грудня на «Круглий Стіл» вперше прийшов Янукович та «три лідери опозиції» (Яценюк, Кличко, Тягнибок), але вони ні до чого не домовилися (й «Круглий Стіл» після цього не збирався):  «Красиво знову говорили про ті проблеми, які є, про вимоги, які їх вирішити. Але конкретні кроки — звільнення затриманих, покарання винних, відставка уряду — жодного з цих питань не було вирішено. — заявив Кличко».</div>
 </div>
<p></p>
<div class="row">
  <div class="small-12 columns">Бачачи, що вимагати від Януковича «підписання асоціації з ЄС» тепер вже марно, опозиція увечері 14 грудня висунула принципово нову вимогу (яку назвали «План Б») — Янукович повинен припинити «узурпацію влади та Конституції». Бо, як відомо, президент Янукович двічі здійснив фактично анти-конституційний переворот в Україні.</div>
</div>
<div class="row">
  <div class="small-12 columns">
	<ol>
	  <li>Першого разу — 09.03.2010 коли в неконституційний спосіб була сформована «правляча коаліція в парламенті» та Уряд. Неконституційність полягала в тому, що згідно Конституції — коаліцію могли формувати лише ті фракції, які перемогли на парламентських виборах-2007. А на виборах-2007 перемогли БЮТ на НУНС. Отже, згідно Конституції — потрібно було або залучити в коаліцію одну з фракцій (БЮТ чи НУНС), або йти на перевибори парламенту. Але Янукович та «Партія регіонів» пішли всупереч Конституції — вони сформували «правлячу коаліцію» за участю окремих депутатів-перебіжчиків (так званих «тушок»), й за рахунок «тушок» фактично змінили результат парламентських виборів-2007 на протилежний (тобто було сформовано Уряд з партій, які програли «Парламентські вибори-2007»). Лідер опозиції Тимошенко та інші опозиційні політики назвала ті події «анти-Конституційним переворотом».</li>
	  <li>А 30.9.2010 Янукович (за допомогою підконтрольного йому Конституційного Суда) взагалі відмінив Конституцію України (в редакції 2004 року), чим незаконно надав собі право на формування Уряду, та на вирішальний вплив на усі гілки влади (включаючи прокуратура та суд). Але Конституційний Суд не має права змінювати Конституцію, бо лише парламент України своїм голосуванням (потрібна «конституційна більшість» в 300 голосів) може змінювати Конституцію — це виключне право парламенту. Впродовж 2010–2014 років Янукович так і не зміг зібрати потрібну «конституційну більшість» (300 голосів), тож увесь цей час з 30.09.2010 Україна жила фактично без легітимної Конституції, й Уряди формувалися нелегітимним чином — не парламентом, а президентом.</li>
	</ol>
  </div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Головний обов'язок президента це «гарантування Конституції», але Янукович виявився не «гарантом Конституції», а ініціатором узурпації влади та повалення Конституційного устрою. Цим попранням Конституції — було закладено основу для узурпації влади в одних руках, та для нечуваної корупції, яка розгорнулася за влади президента Януковича.</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Починаючи з 14 грудня 2013 року <strong>«головною вимогою Євромайдану»</strong> стало повернення до легітимної Конституції (тобто в редакції від 08.12.2004). Відновлення Конституції дозволяло сформувати Уряд не свавіллям президента, а на законних підставах у Верховній Раді України; а також дозволяло провести перевибори президента та парламенту.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="560" height="315" src="//www.youtube.com/embed/ffIoLu2rsRA" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>