<p></p>
<div class="row">
  <div class="small-12 columns"><h3>16 січня 2014</h3></div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">16 січня 2014 року в Верховній Раді України з порушенням установленої процедури голосування було прийнято 10 законів, направлених на звуження конституційних прав і свобод громадян. В той же день в ЗМІ появились повідомлення, що Президент підписав п'ять прийнятих Радою законів.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="560" height="315" src="//www.youtube.com/embed/jDknIrG3hcg" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Закони мали низку нових обмежень, а також посилювали відповідальності за деякі вже передбачені законодавством порушення, багато з яких стосувалися участі в акціях протесту.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-3 columns">&nbsp;</div>
  <div class="small-10 large-6 columns">
	<img width="560" src="https://googledrive.com/host/0ByAZKc44wRT7YTRFdnJ5dHR4VmM/1.jpg" />
   </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Громадськість, протестуючі Євромайдану, правозахисні організації та світ засудили прийняття цих законів.</div>
</div>
<p></p>
<div class="row">
  <div class="small-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p><a href="https://twitter.com/search?q=%23%D0%9A%D0%BB%D0%B8%D1%87%D0%BA%D0%BE&amp;src=hash">#Кличко</a> Після того, що відбулося у четвер в парламенті, вихід один - активний спротив <a href="http://t.co/Bc6pDWbRsP">http://t.co/Bc6pDWbRsP</a></p>&mdash; Віталій Кличко (@Vitaliy_Klychko) <a href="https://twitter.com/Vitaliy_Klychko/statuses/424186431808876544">17 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="small-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p>Яценюк: Сьогодні Віктор Янукович за 15 млрд доларів, які йому дала Росія, продав Володимиру Путіну нашу з вами свободу. <a href="https://twitter.com/search?q=%23%D0%84%D0%B2%D1%80%D0%BE%D0%BC%D0%B0%D0%B9%D0%B4%D0%B0%D0%BD&amp;src=hash">#Євромайдан</a></p>&mdash; Batkivshchyna (@Batkivshchyna) <a href="https://twitter.com/Batkivshchyna/statuses/423892520523665408">16 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<p></p>
<div class="row">
  <div class="small-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p><a href="https://twitter.com/search?q=%23Ashton&amp;src=hash">#Ashton</a> deeply concerned by developments in <a href="https://twitter.com/search?q=%23Ukraine&amp;src=hash">#Ukraine</a>. Measures restrict fundamental rights of assembly &amp; free speech <a href="http://t.co/CmTW5ekP0f">http://t.co/CmTW5ekP0f</a></p>&mdash; EU External Action (@eu_eeas) <a href="https://twitter.com/eu_eeas/statuses/424100243521544192">17 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>  
  </div>
  <div class="small-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p>US expresses deep concern at passage today of undemocratic legislation in <a href="https://twitter.com/search?q=%23Ukraine&amp;src=hash">#Ukraine</a>&#39;s Parliament. <a href="http://t.co/6ra49fKkxS">http://t.co/6ra49fKkxS</a></p>&mdash; Department of State (@StateDept) <a href="https://twitter.com/StateDept/statuses/423935191569014784">16 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<p></p>
<div class="row">
  <div class="small-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p><a href="https://twitter.com/search?q=%23Ukraine&amp;src=hash">#Ukraine</a> Moves Closer to Outlawing Dissent <a href="http://t.co/tMscMOQN2n">http://t.co/tMscMOQN2n</a></p>&mdash; Freedom House (@FreedomHouseDC) <a href="https://twitter.com/FreedomHouseDC/statuses/423930398175805440">16 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="small-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p>New anti-protest laws in <a href="https://twitter.com/search?q=%23Ukraine&amp;src=hash">#Ukraine</a> threaten civil society space: Read what <a href="https://twitter.com/TransparencyUA">@TransparencyUA</a> says: <a href="http://t.co/xU1na8ykt6">http://t.co/xU1na8ykt6</a></p>&mdash; Transparency Int&#39;l (@anticorruption) <a href="https://twitter.com/anticorruption/statuses/424249372033822722">17 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<p></p>


