<p></p>
<div class="row">
  <div class="small-12 columns"><h3>16 січня 2014</h3></div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">16 січня 2014 року в Верховній Раді України з порушенням установленої процедури голосування було прийнято 10 законів, направлених на звуження конституційних прав і свобод громадян. В той же день в ЗМІ появились повідомлення, що Президент підписав п'ять прийнятих Радою законів.</div>
</div>
<p></p>
<div class="row">
  <div class="small-2 columns">&nbsp;</div>
  <div class="small-8 columns"><img src="https://googledrive.com/host/0ByAZKc44wRT7YTRFdnJ5dHR4VmM/1.jpg" /></div>
  <div class="small-2 columns">&nbsp;</div>
</div>
