<p></p>
<div class="row">
  <div class="small-12 columns"><h3>20 лютого 2014</h3></div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">У день, який Янукович оголосив днем жалоби за загиблими 18 лютого на вулицях Києва, вбито від 70 до 100 чоловік. Сотні поранених. В епіуентрі подій на вулиці Інститутській у Києві силовики та снайпери розстрілювали неозброєних євромайданівців, не жаліючи ані медиків, ані жінок.</div>
</div>
<p></p>
<div class="row video-background">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="560" height="315" src="//www.youtube.com/embed/kg9fjOfPZyE" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-3 columns">&nbsp;</div>
  <div class="small-10 large-6 columns">
	<img src="https://googledrive.com/host/0ByAZKc44wRT7bF90NXFlTDl0c00/bf80770-56.jpg" />
   </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">“Спланована у вигляді антитерористичної операції, а фактично організація масових вбивств людей, відбувалася безпосередньо і за прямого керівництва колишнього президента Януковича”, – як повідомив вже пізніше 3 квітня 2014 очільник СБУ Валентин Наливайченко за висновками розслідування трагічних події 18-20 лютого.</div>
</div>
<p></p>
<div class="row video-background">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="420" height="315" src="//www.youtube.com/embed/wS70wYIjV7Y" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
