<p></p>
<div class="row">
  <div class="small-12 columns"><h3>22 січня 2014</h3></div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">У сутичках на вулиці Грушевського в місті Києві, що тривають з 19 січня, загинули як мінімум 3 осіб.</div>
</div>
<p></p>
<div class="row video-background">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="560" height="315" src="//www.youtube.com/embed/d0pdTP1P4dg" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Відомі імена трьох загиблих: Сергій Нигоян, Михаило Жизневський, Юрій Вербицький. Також під час сутичок на Грушевського із колонади біля стадіону Динамо впало двоє чоловіків, один з яких помер у лікарні від отриманих травм.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-3 columns">&nbsp;</div>
  <div class="small-10 large-6 columns">
	<img width="560" src="https://googledrive.com/host/0ByAZKc44wRT7bmoxTXp5U1lvaTQ/1.jpg" title="Фото: УП" />
   </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Наступного дня 23 січня 2014 року, активісти «Автомайдану» заявили про несподіване зникнення Дмитра Булатова. Востаннє на зв'язок він виходив увечері 22 січня. 23 січня, приблизно о 4 годині ранку співробітники «Беркута» затримали як мінімум 15 активістів «Автомайдану», які патрулювали 17-у лікарню в Києві, і розбили дев'ять автомобілів.</div>
</div>
<p></p>
<div class="row video-background">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="560" height="315" src="//www.youtube.com/embed/k7hh5d_z-H8" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Пізніше вже 30 січня Дмитро Булатов вийшов на зв'язок із друзями і повідомив, що його викрали і катували невідомі, які розмовляли із російським акцентом. Після тривалих катувань його вивезли за місто і викинули з машини.</div>
</div>
<p></p>
<div class="row video-background">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="560" height="315" src="//www.youtube.com/embed/DQ9lS_ABLhU" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">Взагалі під час протестів силовикі та організовані злочинні угруповання, які працювали під прикриттям силових відомств, використовували всі можливі засоби тиску на протестувальників: залякування, наругу над гідністю, викрадення, катування, вбивства. Так як оди із прикладів є свідчення, як «Беркут» і інші силовки в чорній формі Внутрішніх військ знущаються із затриманого чоловіка на Грушевського.</div>
</div>
<p></p>
<div class="row video-background">
  <div class="small-1 large-2 columns">&nbsp;</div>
  <div class="small-10 large-8 columns">
	  <div class="flex-video widescreen">
		<iframe width="420" height="315" src="//www.youtube.com/embed/-NvkVMD0dQQ" frameborder="0" allowfullscreen></iframe>
   	  </div>
   </div>
   <div class="small-1 large-2 columns">&nbsp;</div>
</div>
<p></p>
<div class="row">
  <div class="small-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p>Photo evidence of police using torture against <a href="https://twitter.com/search?q=%23euromaidan&amp;src=hash">#euromaidan</a> <a href="https://twitter.com/search?q=%23protesters&amp;src=hash">#protesters</a> in <a href="https://twitter.com/search?q=%23Ukraine&amp;src=hash">#Ukraine</a> on Jan. 22 <a href="http://t.co/LnVt5IboyK">pic.twitter.com/LnVt5IboyK</a></p>&mdash; Katya Gorchinskaya (@kgorchinskaya) <a href="https://twitter.com/kgorchinskaya/statuses/426375395215040512">23 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="small-6 columns show-for-medium-up">
	<blockquote class="twitter-tweet" lang="{{language}}"><p><a href="https://twitter.com/ukrpravda_news">@ukrpravda_news</a> Що тут ще можна сказати? Беркут позує на барикадах після розгону мітингувальників 22.01 via Reuters <a href="http://t.co/UgbT3lCLO8">pic.twitter.com/UgbT3lCLO8</a></p>&mdash; Mikekomar (@mikekomar) <a href="https://twitter.com/mikekomar/statuses/426045614376235008">22 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
<div class="row">
  <div class="small-6 columns">
	<blockquote class="twitter-tweet" lang="{{language}}"><p><a href="https://twitter.com/ukrpravda_news">@ukrpravda_news</a> БЕРКУТ ПІДПАЛЮЄ КОКТЕЙЛЬ МОЛОТОВА КИЇВ 15:00 via REUTERS <a href="https://twitter.com/search?q=%23%D1%94%D0%B2%D1%80%D0%BE%D0%BC%D0%B0%D0%B9%D0%B4%D0%B0%D0%BD&amp;src=hash">#євромайдан</a> <a href="http://t.co/zQHDzZE1rG">pic.twitter.com/zQHDzZE1rG</a></p>&mdash; Mikekomar (@mikekomar) <a href="https://twitter.com/mikekomar/statuses/425980814292037632">22 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="small-6 columns show-for-medium-up">
	&nbsp;
  </div>
</div>
<p></p>
<div class="row">
  <div class="small-12 columns">На непропорціїне використання сили проти активістів та безкарність правоохоронців звернула увагу Amnesty International.</div>
</div>
<p></p>
<div class="row">
  <div class="small-1 large-3 columns">&nbsp;</div>
  <div class="small-10 large-6 columns">
  	<blockquote class="twitter-tweet" lang="{{language}}"><p>&quot;There must be no impunity for law enforcement officers who resort to abusive use of force.&quot; <a href="http://t.co/8dRT8MpuUg">http://t.co/8dRT8MpuUg</a> <a href="https://twitter.com/search?q=%23Ukraine&amp;src=hash">#Ukraine</a> <a href="https://twitter.com/search?q=%23humanrights&amp;src=hash">#humanrights</a></p>&mdash; AmnestyInternational (@amnesty) <a href="https://twitter.com/amnesty/statuses/426053604953579520">22 Janvier 2014</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="small-1 large-3 columns">&nbsp;</div>
</div>
<p></p>