<p></p>
<div class="row">
	<div class="small-12 large-12 columns">
		Цей сайт був створений як данина Українській Революції Гідності на #Євромайдані, її учасникам та всім полеглим Героям Небесної Сотні задля збереження пам'яті і хронологій цих подій. 
	</div>
</div>
<div class="row">
	<div class="small-12 large-12 columns">
		Сайт розробленний у 2014 році та у 2017 році присвячений пам'яті Наталі Пастернак.
	</div>
</div>
<p></p>
<div class="row">
	<div class="small-12 large-12 columns">
		При розробці сайту використані компоненти з відкритим кодом.  
	</div>
</div>
<div class="row">	
	<div class="small-6 large-6 columns">
		<ul class="no-bullet">
	    	<li><a href="http://foundation.zurb.com/" target="_blank">Foundation</a></li>
  			<li><a href="http://angularjs.org/" target="_blank">AngularJS</a></li>
  			<li><a href="http://timeline.knightlab.com/" target="_blank">TimelineJS</a></li>
  		</ul>  
	</div>
</div>
