<p></p>
<div class="row">
	<div class="small-12 columns left">
		Цей сайт був створений як данина Українській Революції на #Євромайдані, її учасникам та всім полеглим Героям Небесної Сотні задля збереження пам'яті і хронологій цих подій. 
	</div>
</div>
<div class="row">
	<div class="small-12 columns left">
		Сайт розробленний за сприяння Комітету Українців Франції у 2014 році.  
	</div>
</div>
<p></p>
<div class="row">
	<div class="small-12 columns left">
		При розробці сайту використані компоненти з відкритим кодом.  
	</div>
</div>
<div class="row">	
	<div class="small-6 columns left">
		<ul class="no-bullet">
	    	<li><a href="http://foundation.zurb.com/">Foundation</a></li>
  			<li><a href="http://angularjs.org/">AngularJS</a></li>
  			<li><a href="http://timeline.knightlab.com/">TimelineJS</a></li>
  		</ul>  
	</div>
</div>
